@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.toolbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: rgba(83, 71, 47, 0.534);
  backdrop-filter: blur(3px);
  height: 7.957559681697613vh;
  z-index: 300;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.5);
  animation: toolbar-load 500ms;

}


@keyframes toolbar-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-links {
  display: flex;
  height: 7.957559681697613vh;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;

}

.nav-links li {
  
  text-decoration: none;
  font-size: 127%;
  font-family: 'Questrial', sans-serif;
}

.nav-links a:hover {
  color: rgb(255, 255, 255);
  transition: color 0.17s ease-in;
  
}
.nav-links a:not(:hover) {
  color:rgb(218, 213, 208);
  transition: color 0.17s ease-out;
}

.nav-links a:focus {
  color: rgb(255, 255, 255);
  font-size: 102%;
  transition: font-size 0.17s ease-out;
}

.mobile  {
  display: flex;
  height: 100%;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  
  
}

.drawer-button {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(153, 129, 84, 0);
  border: none;
  height: 60px;
}

.burger.open {
  color: rgba(102, 86, 56, 0);
  transition: color 0.4s ease-in;
}
.burger {
  color: rgb(255, 250, 241);
  transition: color 0.4s ease-in;
  
}

.logo {
  top: 0;
  text-align: center;
}

.space {
  flex: 1;
}

.drawer-links {
  height: 100%;
  background: rgba(160, 153, 139, 0.336);
  backdrop-filter: blur(6px);
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.5);
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  max-width: 400px;
  width: 65%;
  padding: 0;
  z-index: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  word-wrap: break-word;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.4s ease-out;
}

.drawer-links li {
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  text-align: center;
  list-style: none;
  font-family: 'Questrial', sans-serif;
  color: rgb(24, 18, 9);
}


.drawer-links.open {
  transform: translateX(0);
}


.backdrop.open {
  margin: 0;
  top: 0;
  position: fixed;
  padding: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 300;
  transition: background-color 0.4s ease-out;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .button {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: 400;
    height: 7.957559681697613vh;
  }
}

@media screen and (min-width: 769px){
  .mobile {
    display: none;
  }
  
  .button {
    display: none;
  }
}


[type="earrings-intro"] {
  background-image: url("./attachments/lazi-earrings.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

[type="bracelets-intro"] {
  background-image: url("./attachments/IMG_9150-compressed.png");
  background-repeat: no-repeat;
  background-size: cover;
}

[type="necklaces-intro"] {
  background-image: url("./attachments/kumi-kumi-necklace.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

[type="signet-intro"] {
  background-image: url("./attachments/amani-ring.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

[type="personalized-intro"] {
  background-image: url("./attachments/ukariri-mantra-bracelet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

[type="rings-intro"] {
  background-image: url("./attachments/amani-ring.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  background-image: url("./attachments/IMG_9307-compressed.CR2"); 
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}



.social-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 200;
  animation: toolbar-load 500ms;
}

.social-menu a {
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(255, 250, 241, 0.8);
}

.social-menu a:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease-in;
}
.social-menu a:not(:hover) {
  transform: translateY(2px);
  transition: transform 0.3s ease-out;
}

[type$="-intro"] {
  margin-bottom: 0;
  width: 100%;
  padding-top: 60px;
  color: rgb(255, 250, 241);
  font-family: 'Ovo', serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 34vh;
  height: 34vh;
  text-align: center;
}

@keyframes intro-load {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


.header {
  font-size: 270%;
  font-family: 'Architects Daughter', cursive;
  z-index: 200;
  animation: intro-load 700ms;
}

.intro {
  font-family: 'Questrial', sans-serif; 
  font-size: 150%;
  font-weight: lighter;
  z-index: 200;
  animation: intro-load 700ms;
}


img {
  max-width: 70%;
  max-height: 70vh;
  height: auto;
  animation: img-load 730ms ease-out;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.5);
  
}

@keyframes img-load {
  0% {
    transform: translateY(-6%);
  }

  100% {
    max-width: 70%;
  }
}

.mobile-header {
  font-family: 'Ovo', serif;
  font-weight: lighter;
  font-size: 190%;
  color: rgb(197, 185, 167);
  justify-self: center;
}

a:link {
  text-decoration: none;

}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.overlay {
  position: fixed;
  width: 100%; 
  height: inherit; 
  top: 0;
  left: 0;
  right: 0; 
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.1)); 
  z-index: 100;

}
.overlays {
  position: absolute;
  width: 100%; 
  height: inherit; 
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.3)); 
  z-index: 100;

}

@media screen and (max-width: 1399px){
  .social-menu{
    padding-bottom: 10vh;
  }
}

@media screen and (min-width: 1400px){
  .social-menu{
    padding-bottom: 5vh;
  }
}

[class$="earrings"] {
  margin-top: 0;
  padding: 0;
  background: rgb(168, 151, 119);
}

@keyframes comp-load {
  0% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0);
  }
}

[class$="bracelets"] {
  margin-top: 0;
  padding: 0;
  background: rgb(134, 123, 93);
}

[class$="necklaces"] {
  margin-top: 0;
  padding: 0;
  background: rgb(134, 125, 105);
}

[class$="personalized"] {
  margin-top: 0;
  padding: 0;
  background: rgb(134, 125, 105);
}

[class$="rings"] {
  margin-top: 0;
  padding: 0;
  background: rgb(168, 151, 119);
}

[type="name"] {
  font-size: 180%;
  font-family: 'Architects Daughter', cursive;
  color: rgb(56, 46, 34);
  padding-bottom: 8px;
  animation: comp-load 700ms ease-out;
}

[type="description"] {
  animation: comp-load 700ms ease-out;
  font-size: 110%;
  font-family: 'Questrial', sans-serif;
  color: rgb(56, 46, 34);
  padding-bottom: 13px;
  letter-spacing: 0em;
}

[type="price"] {
  animation: comp-load 700ms ease-out;
  font-size: 120%;
  font-family: 'Questrial', sans-serif;
  color: rgb(56, 46, 34);
  padding-bottom: 8px;
  padding-top: 8px;
}

.loading {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
  background-color: rgba(170, 157, 129, 0.596);

}