@import url('https://fonts.googleapis.com/css?family=Lato|Prata&display=swap');

.app {
  text-align: center;
  color: #36270a;
}

.product {
  background:  linear-gradient(to left,#9e722f6e, #9e722f7f);
  height: auto;
  margin: 80px auto 0px auto;
  min-height: 100px;
  padding: 30px 30px;
  margin: 0em;
}

h3 {
  font-Family: 'Prata', Serif;
  font-size: 48px;
  letter-spacing: 0.01em;
  line-height: 0em;
}

p {
  font-Family: 'Prata', Sans-Serif;
  font-Size: 16px;
  
}

h6 {
  font-Family: 'Prata', Sans-Serif;
  font-Size: 20px;
  font-weight: lighter;
  line-height: 3em;
  
}