@import url('https://fonts.googleapis.com/css?family=Lato|Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.product {
  
  top:auto;
  background:  linear-gradient(to left,#9e722f6e, #9e722f7f);
  height: auto;
  margin: 80px auto 0px auto;
  min-height: 100vh;
  padding: 30px 30px;
  margin: 0em;
}

h3 {
  font-Family: 'Prata', Serif;
  font-size: 48px;
  letter-spacing: 0.01em;
  line-height: 0em;
}

p {
  font-Family: 'Prata', Sans-Serif;
  font-Size: 16px;
  
}

h6 {
  font-Family: 'Prata', Sans-Serif;
  font-Size: 20px;
  font-weight: lighter;
  line-height: 3em;
  
}

.nav-links {

  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;

}

nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  min-height: 12vh;
  background:  linear-gradient(to right,#9e722f6e, #9e722f7f);
  align-items: center;
  margin: 0vh;
}

.nav-links li {
  display: block;
  color: rgb(63, 44, 4);
  text-decoration: none;

}


a:link {
  text-decoration: none;

}

a:visited {
  text-decoration: none;
}


a:hover {
  font-size: 17px;
  transition: all .6s ease;
}

a:not(:hover) {
  font-size: 18px;
  transition: all .6s ease;
}

a:active {
  text-decoration: none;
}
